@model QualityCap.Models.Order

@{
    ViewData["Title"] = "Create";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.IsInRole("Admin"))
{
    <h2 style="color:red;">Sorry, Administrator cannot place any orders!</h2>
    <a asp-action="Index" asp-controller="Home">        
            Back<span  class="glyphicon glyphicon-arrow-left"></span>        
    </a>
}

    <h3>Please Fill in Addressee's Information</h3>

    <form asp-action="Create">
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="City" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PostalCode" class="form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="State" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <button type="submit" class="btn btn-default btn-lg">
                        Place Order <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


